*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: Roboto, Helvetica, NanumGothic, sans-serif;
}

.header {
  width: 90%;
  background: #ffffff;
  border-bottom: 1px solid #e5e5e5;
}

.header-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Logos */
.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img {
  height: 60px;
}

/* Navegación */
.nav ul {
  margin: 0 30px;
  list-style: none;
  display: flex;
  gap: 32px;
}

.nav a {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #6b6b6b;
  text-decoration: none;
  position: relative;
}

.nav a:hover {
  color: #262626;
}

.img-banner{
  width: 100%;
  height: 100%;
}

.botones-banner{
  display: flex;
  padding: 5px 50px;
  justify-content: flex-end;
  border-bottom: 1px solid #9CA3AF;
  gap: 10px;
}

.botones-banner a{
  text-decoration: none;
  text-align: center;
}

.btn-banner{
  width: 200px;
  background-color: #ffffff;
  color: #262626;
  border: 2px solid #F2BC18;
  padding: 20px 0;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.3s ease;
}

.btn-banner:hover {
  background-color: #F2BC18;
}

.contactanos{
  background-color: #ffffff;
  padding: 70px 70px;
  margin-top: 32px;
}

.caja-contactanos{
  background-color: #F2F2F2;
  padding: 80px;
  display: flex;
  justify-content: space-between;
}

.img-contacto{
  width: 48%;
}

.info-contacto{
  display: inline;
  width: 46%;
  vertical-align: middle;
}

.text-contacto1{
  color: #CD9834;
  font-size: 2.2rem;
  font-weight: 500;
}

.text-contacto2{
  color: #262626;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 31px 0;
}

.btn-cotiza{
  color: #262626;
  border: 2px solid #F2BC18;
  width: 300px;
  padding: 20px 0;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  float: right; /* mueve el botón a la derecha */
  text-decoration: none;
  text-align: center;
}

.btn-cotiza:hover{
  background-color: #F2BC18;
}

/* ========================= MOBILE ========================= */
@media (max-width: 768px) {

  /* ---------- HEADER ---------- */
  .header {
    width: 100%;
  }

  .header-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 16px
  }

  .logo img {
    height: 32px;
    margin-bottom: 10px;
  }

  /* ----------- NAV  ----------*/
  .nav {
    width: 100%;
  }

  .nav ul {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }

  .nav li {
    flex: 1;
    text-align: center;
  }

/* Ocultamos el texto original */
  .nav a {
    visibility: hidden;
    position: relative;
  }

  /* Mostramos solo el texto mobile */
  .nav a::after {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    color: #6b6b6b;
    font-size: 13px;
    font-weight: 600;
    white-space: nowrap;
  }

  .nav li:nth-child(1) a::after {
    content: "Ofertas";
  }

  .nav li:nth-child(2) a::after {
    content: "Vehículos";
  }

  .nav li:nth-child(3) a::after {
    content: "Servicios";
  }

  .nav li:nth-child(4) a::after {
    content: "Más...";
  }

  .nav a {
    font-size: 13px;
    font-weight: 700;
    color: #6b6b6b;
    white-space: nowrap;
  }

  /* ---------- BANNER ---------- */
  .img-banner {
    content: url("imagenes/Sail_Banner_Mobile.jpg");
    width: 100%;
    height: auto;
  }

  .botones-banner {
    padding: 16px;
    justify-content: center;
    gap: 12px;
  }

  .btn-banner {
    width: 100%;
    max-width: 160px;
    padding: 14px 0;
    font-size: 14px;
  }

  /* ---------- CONTACTANOS ---------- */
  .contactanos {
    padding: 24px 16px;
  }

  .caja-contactanos {
    padding: 24px;
    flex-direction: column;
    gap: 24px;
  }

  .img-contacto {
    width: 100%;
  }

  .info-contacto {
    width: 100%;
    display: block;
  }

  .text-contacto1 {
    font-size: 1.4rem;
    line-height: 1.5rem;
    font-weight: 400;
  }

  .text-contacto2 {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 16px 0 24px;
  }

  .btn-cotiza {
    width: 100%;
    padding: 14px 0;
    font-size: 15px;
    float: none;          /* MUY IMPORTANTE */
    display: block;
    text-align: center;
  }
}